@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  background-color: #faf7f2;
  padding: 0px;
  font: 17px/1.55 "Times New Roman", Times, "Liberation Serif", serif;
  color: #3a3631;
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
